.form {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

.form__section {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
  padding: 20px 35px 35px;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  background-color: #fff;
  text-align: right;
}

.form__section_type_customer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form__section_type_product .MuiTextField-root {
  max-width: 225px;
}

.form__product-title {
  font-size: 1.3em;
  font-weight: bold;
}

.form__products-container {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.form__accordion {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form__dropdowns {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.form__price-container {
  text-align: center;
}

.form__price {
  /* font-weight: 600; */
  font-size: 2em;
}

.form__price-label {
  font-weight: 600;
}

.form__add-btn {
  /* margin-top: 2em; */
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}

.form__remove-item-btn {
  border: none;
  background-color: transparent;
  width: 100%;
  max-width: 75px;
  /* background-color: rgb(218, 69, 69); */
  background-color: rgba(218, 69, 69, 0.8);
  /* padding: 10px; */
  width: 31px;
  height: 31px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__group_type_customer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form__input {
  display: flex;
  flex-direction: column;
}

.form__toggle {
  direction: ltr;
}

.form__print-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.form__category-buttons {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: auto;
  justify-content: space-between;
}

.form__button_type_category {
  width: calc((100% / 3) - 0.7em);
  /* super light gray border */
  border: 1px solid #e0e0e0;
  padding: 3em;
  background-color: transparent;
  border-radius: 10px;
}

.form__title_type_h2 {
  font-size: 1.3em;
  /* font-weight: bold; */
  text-align: center;
}
