.options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.options__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
@media (max-width: 570px) {
  .options {
    background-color: #f7fbff;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #7e9ed1;
    border-radius: 11px;
    position: relative;
    padding: 34px 13px 13px;
  }
  .options__container {
    flex-wrap: wrap;
  }
  .options__panel_side_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex: 1;
    width: 100%;
  }
  .options__panel_side_center {
    width: 100%;
    /* flex: 2; */
  }
  .options__btn-container {
    position: absolute;
    top: 5px;
    right: 1px;
  }
}
.options__panel {
  /* flex: 2; */
  /* background: pink; */
}

.options__size-grid {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  border-top: 1px solid black;
  border-right: 1px solid black;
  max-width: 300px;
  border-radius: 5px;
}

.options__grid-item {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.options__grid-item_input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  text-align: center;
}

.options__btn-container {
  /* padding-top: 13px; */
  display: flex;
  /* height: 100%; */
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.add_subItem_btn_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top: 1px solid #3b71ca87;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  width: 100%;
  max-width: 219px;
  padding: 12px 0 5px;
}
