@import url("./blocks/form.css");
@import url("./blocks/logo.css");
@import "~mdb-ui-kit/css/mdb.min.css";
@import url("./blocks/MUIoverrides.css");
@import url("./blocks/ANTdesignoverrides.css");
@import url("./blocks/swiper.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  text-align: center;
}
